/* General Styles */

.hero-brand-two-buttons {
    background: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 30px;
}

.hero-brand-two-buttons .logo {
    margin: 0 auto;
    background: #fff;
    max-width: 480px;
    padding: 10px 10px 10px 10px;
    border: solid 1px #ccc;
    text-align: center;
    color: #ccc;
    font-size: 5em;
    font-weight: 700;
}

.hero-brand-two-buttons .headline {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.hero-brand-two-buttons .headline p {
    color: #000;
    font-size: 1.8em;
}

.hero-brand-two-buttons .two-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

.hero-brand-two-buttons .two-buttons a {
    font-size: 1.5em;
}

.hero-brand-two-buttons .caption {
    padding-top: 5px;
    padding-bottom: 5px;
}

.hero-brand-two-buttons .caption p {
    text-align: center;
    font-size: 1.0em;
    color: #ccc;
}

/* Media Queries */

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    .hero-brand-two-buttons {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-brand-two-buttons .logo {
        max-width: 220px;
        font-size: 2em;
    }

    .hero-brand-two-buttons .headline {
        font-size: 1.4em;
    }

    .hero-brand-two-buttons .two-buttons a {
        font-size: 1.0em;
    }

    .hero-brand-two-buttons .caption p {
        font-size: .8em;
    }
}