/* General Styles */

.call-to-action-button {
    background: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Typograghy */
.call-to-action-button p {
    font-size: 1.4em;
    font-family: inherit;
}

/* Media Queries */

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
    
    .call-to-action-button p {
        font-size: 1.2em;
    }

}