/*

    Open Source Project Page template styles.
    
*/

/****** Fonts ******/

 @import url('https://fonts.googleapis.com/css?family=Raleway|Droid+Sans');

 body {
    font-family: 'Raleway', sans-serif;
 }


/****** Override Bootparts styles ******/
.hero-brand-two-buttons {
    background: #fff;
}

.hero-brand-two-buttons .logo {
    border: 5px #0275d8 solid;
    border-radius: 10px;
    color: #0275d8;
}

.hero-brand-two-buttons .caption p {
    color: #666;
}


.center-aligned-headline, .center-aligned-headline .headline {
    padding-top: 0px;
    padding-bottom: 0px;
    background: #fff;
}

.three-column-content {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
}

.call-to-action-button {
    padding-top: 0px;
    padding-bottom: 30px;
    background: #fff;
}


/****** Template custom styles ******/

.headline-content {
    color: #000;
    font-weight: 400;
    font-size: 0.7em;
}

.column-emoji {
    font-size: 4.0em;
}


/*

    Technical Documentation Page template styles.
    
*/


/****** Override Bootparts styles ******/

.two-column-content {
    padding-top: 20px;
    padding-bottom: 40px;
}

.two-column-content .left-column {
    padding-top: 22px;
}

/****** Template custom styles ******/

.tech-docs-body {
    background: #fff;
    font-family: 'Droid Sans', sans-serif;
}

.two-column-content {
    background: #fff;
}

.two-column-content .right-column h1 {
    padding-bottom: 20px;
}

.two-column-content .right-column h3 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.two-column-content .right-column p, ol, ul {
    font-size: 1.3em;
}

/*
    FAQ
*/

.faq-question {
    font-weight: 700;
    padding-top: 20px;
}

.faq-answer {
    padding-top: 15px;
}

/*
    Components
*/

.component-title {
    font-weight: 700;
    font-size: 1.3em;
    border-bottom: dotted 1px #000;
}

.component-body {
    padding-top: 15px;
    padding-bottom: 20px;
}

/* Media Queries */

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
    
    .two-column-content .left-column {
        font-size: 0.7em;
    }

    .two-column-content .right-column h1 {
        font-size: 1.1em;
    }

    .two-column-content .right-column h3 {
        font-size: 1.0em;
    }

    .two-column-content .right-column p, ol, ul {
        font-size: 0.9em;

    }

}