/* General Styles */
.one-column-content {
    background: #f1f1f1;
    padding-top: 45px;
    padding-bottom: 40px;
}

/*
    Typography
*/

.one-column-content p {
    font-size: 1.4em;
    line-height: 2.0em;
}

/* 

    Media Queries 

*/

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    .one-column-content p {
        font-size: 1.1em;
    }

}