/* General Styles */
.image-action-card-outer-container {
    background: #f1f1f1;
    padding-top: 40px;
    padding-bottom: 40px;
}

.image-action-card {
    margin: 0 auto;
}

.image-action-card-outer-container .image-action-card .image-action-card-inner {
    width: 30%;
    margin: 0 auto;
    background: #fff;
    border: #1144dd solid;
    padding: 10px 10px 25px 10px;
}

.image-action-card-outer-container .image-action-card .image-action-card-inner .image-action-card-image img {
    max-width: 100%;
}

.image-action-card-outer-container .image-action-card .image-action-card-inner .image-action-card-caption {
     padding-top: 5px;
}

.image-action-card-outer-container .image-action-card .image-action-card-inner .image-action-card-caption p {
    font-size: 0.7em;
}

.image-action-card-outer-container .image-action-card .image-action-card-inner .image-action-card-button {
    padding-top: 10px;
}

.image-action-card-outer-container .image-action-card .image-action-card-inner .image-action-card-button a {
    font-size: 1.0em;
}


/* Media Queries */

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    .image-action-card-outer-container .image-action-card .image-action-card-inner {
        width: 50%;
    }
    
    .image-action-card-outer-container .image-action-card .image-action-card-inner .image-action-card-caption p {
        font-size: 0.6em;
    }

}