/* General Styles */
.two-column-footer {
    background: #f1f1f1;
    padding-top: 15px;
    padding-bottom: 30px;
}

/* 

    Columns 

*/

/* left column */
.two-column-footer .left-column {
    padding-top: 20px;
}

.two-column-footer .left-column a {
    font-size: 1.3em;
}

/* right column */
.two-column-footer .right-column {
    padding-top: 20px;
}

.two-column-footer .right-column a {
    font-size: 1.3em;
}

/* 

    Typography 

*/

.two-column-footer .list-title {
    font-weight: 700;
    font-size: 1.1em;
}

/* 

    Media Queries 

*/

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    .two-column-footer list-title {
        font-size: 0.7em;
        padding-top: 10px;
    }

    /* left column */
    .two-column-footer .left-column {
        padding-top: 10px;
    }

    /* right column */
    .two-column-footer .right-column {
        padding-top: 10px;
    }

}