<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Yelluw">
    <link rel="icon" href="">

    <title>Bootparts - Book Feature Page</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Bootparts CSS -->
    <link href="css/bootparts.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>


    <div class="call-to-action-button">
        <div class="container">
          <div class="row">

            <!-- center the button -->
            <div class="text-center">

              <p><a class="btn btn-primary">Click here to buy this awesome book</a></p>
            
            <!-- end text-center -->
            </div>

          <!-- end row -->
          </div>

      <!-- end container-->
      </div>

    <!-- end call-to-action-button -->
    </div>


    <div class="text-with-image">
        <div class="container">

          <div class="row">

            <!-- left side text -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <h1>A great page to feature your awesome book.</h1>
              <p>
                Tell people what the book is about. Make sure to focus
                on the benefits of reading the book. Put an image of the book
                to the right of this text. Make it POP!
              </p>

              <p>
                There is also a newsletter subscription form in the footer to convert visitors who are
                not ready to purchase the book.
              </p>

            <!-- end of left side text -->
            </div>

            <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-6">
              <img class="img-responsive" src="http://www.placehold.it/450x450">
            
            <!-- end of right side image -->
            </div>
          
          <!-- end row -->
          </div>

      <!-- end container-->
      </div>

    <!-- end text-with-image -->
    </div>


    <div class="call-to-action-button">
        <div class="container">
          <div class="row">

            <!-- center the button -->
            <div class="text-center">

              <p><a class="btn btn-success">Click here to read a sample chapter</a></p>
            
            <!-- end text-center -->
            </div>

          <!-- end row -->
          </div>

      <!-- end container-->
      </div>

    <!-- end call-to-action-button -->
    </div>


    <div class="three-column-content">
        
        <div class="container">

          <div class="row">

            <!-- left column -->
            <div class="col-lg-4 col-md-4 col-sm-4 left-column">
              
              <img src="https://placehold.it/50x50" class="column-img">

              <p class="column-title">Feature #1</p>

              <p class="column-content">Tell your visitors about a feature your book has.</p>

            <!-- end left column -->
            </div>

            <!-- middle column -->
            <div class="col-lg-4 col-md-4 col-sm-4 middle-column">

              <img src="https://placehold.it/50x50" class="column-img">

              <p class="column-title">Feature #2</p>

              <p class="column-content">Feature the most important one in the middle. That's where people tend to look first.</p>
              
            <!-- end middle column -->
            </div>  

            <!-- right column -->
            <div class="col-lg-4 col-md-4 col-sm-4 right-column">
              
              <img src="https://placehold.it/50x50" class="column-img">

              <p class="column-title">Feature #3</p>

              <p class="column-content">The image above can be changed to an icon, as well.</p>

            <!-- end right column -->
            </div>          
           
          <!-- end row -->
          </div>

      <!-- end container-->
      </div>

    <!-- end three-column-content -->
    </div>


    <div class="three-column-footer">
        
        <div class="container">

          <div class="row">

            <!-- left column -->
            <div class="col-lg-4 col-md-4 col-sm-4 left-column">
              <ul class="list-unstyled">
                <li class="list-title">Navigation</li>
                <li><a href="">Buy the book</a></li>
                <li><a href="">Read a sample chapter</a></li>
                <li><a href="">Read the reviews</a></li>
                <li><a href="">About the author</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="https://github.com/yelluw/Bootparts">Bootparts</a></li>
                <li><a href="http://yelluw.com">Yelluw</a></li>
                <li>&copy; 2017</li>
              </ul>
            <!-- end left column -->
            </div>

            <!-- middle column -->
            <div class="col-lg-4 col-md-4 col-sm-4 middle-column">
              <ul class="list-unstyled">
                <li class="list-title">Social</li>
                <li><a href="">FriendFace</a></li>
                <li><a href="">Chatter</a></li>
                <li><a href="">MySpace</a></li>
              </ul>
            <!-- end middle column -->
            </div>  

            <!-- right column -->
            <div class="col-lg-4 col-md-4 col-sm-4 right-column">
                <div class="form-container">
                      <form>
                          <p class="form-title">Subscribe to the book newsletter</p>
                          <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                          </div>
                          <div class="form-group">
                              <label for="exampleInputName1">Your Name</label>
                              <input type="text" class="form-control" id="exampleInputName1" placeholder="Your Name">
                          </div>

                          <button type="submit" class="btn btn-default">Send</button>
                      </form>
                </div>
            <!-- end right column -->
            </div>          
           
          <!-- end row -->
          </div>

      <!-- end container-->
      </div>

    <!-- end three-column-footer -->
    </div>

 
 

 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body></html>