/*

    App Feature Page template styles.
    
*/


/****** Override Bootparts styles ******/

.text-with-image {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.call-to-action-button {
    padding-top: 30px;
    padding-bottom: 20px;
}

.three-column-content {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}