/* General Styles */

.image-with-text {
    background: #f1f1f1;
    padding: 10px 10px 10px 10px;
}

/* Typograghy */
.image-with-text p {
    font-size: 1.5em;
    font-family: inherit;
}

/* Media Queries */

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
    
    .image-with-text p {
        font-size: 1em;
    }
}