/* General Styles */
.three-column-content {
    background: #f1f1f1;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}

/* 

    Columns 

*/

/* left column */
.three-column-content .left-column {
    padding-top: 20px;
}

/* middle column */
.three-column-content .middle-column {
    padding-top: 20px;
}

/* right column */
.three-column-content .right-column {
    padding-top: 20px;
}

/* Images */

.three-column-content .column-img {

}

/* Typography */

.three-column-content .column-title {
    padding-top: 10px;
    font-size: 1.3em;
    font-weight: 700;
}

.three-column-content .column-content {
    padding-top: 10px;
    font-size: 1.1em;
}

/* 

    Media Queries 

*/

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
    
    /* Typography */

    .three-column-content .column-title {
        font-size: 0.8em;
    }

    .three-column-content .column-content {
        font-size: 0.7em;
    }

    /* left column */
    .three-column-content .left-column {
        padding-top: 15px;
    }

    /* middle column */
    .three-column-content .middle-column {
        padding-top: 15px;
    }

    /*right column */
    .three-column-content .right-column {
        padding-top: 15px;
    }  

}