/* General Styles */
.three-column-footer {
    background: #f1f1f1;
    padding-top: 15px;
    padding-bottom: 30px;
}


/* 

    Columns 

*/

/* left column */
.three-column-footer .left-column {
    padding-top: 20px;
}

.three-column-footer .left-column .list-title {
    font-weight: 700;
    font-size: 1.1em;
}

.three-column-footer .left-column a {
    font-size: 1.3em;
}


/* middle column */
.three-column-footer .middle-column {
    padding-top: 20px;
}

.three-column-footer .middle-column .list-title {
    font-weight: 700;
    font-size: 1.1em;
}

.three-column-footer .middle-column a {
    font-size: 1.3em;
}

/* right column */
.three-column-footer .right-column {
    padding-top: 20px;
}

.three-column-footer .right-column .form-container {
    background: #fff;
    padding: 10px 20px 10px 20px;
}

/* 

    Media Queries 

*/

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* left column */
    .three-column-footer .left-column {
        padding-top: 10px;
    }

    .three-column-footer .left-column list-title {
        font-size: 0.7em;
    }

    /* middle column */
    .three-column-footer .middle-column {
        padding-top: 10px;
    }

    /*right column */
    .three-column-footer .right-column {
        padding-top: 10px;
    }  

    .three-column-footer .right-column .form-container {
        width: 400px;
    }  

}